// common //////////////////////////////////////////////////
.app-bg {
    position: absolute;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
	@include linear-gradient($purple, $violet);
}

.lifeleveler-logo {
    margin: 60px auto 0 auto;
	width: 240px;
	font-family: 'Titillium Web', sans-serif;
	.life { font-size: em(128); color: white; }
	.leveler { margin-top: -20px; font-size: em(64); color: $orange; }
}
